RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteRule ^apidocs(/?)$ /docs/2.0.13/javadocs [R=301,L]
RewriteRule ^commandlineutilities(/?)(.*)$ /2.0/commandline [R=301,L]
RewriteRule ^download\.html$ /download.cgi
RewriteRule ^downloads\.html$ /download.cgi
RewriteRule ^downloads\.cgi$ /download.cgi

ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html

Options -Indexes
