<!DOCTYPE html>
<html lang="en">

<!--

     Licensed to the Apache Software Foundation (ASF) under one or more
     contributor license agreements.  See the NOTICE file distributed with
     this work for additional information regarding copyright ownership.
     The ASF licenses this file to You under the Apache License, Version 2.0
     (the "License"); you may not use this file except in compliance with
     the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE- 2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
     -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{site.description}}">

    <title>Apache PDFBox | {% if page.title %}{{ page.title }}{% endif %}</title>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/pygments-github.css" rel="stylesheet">

    <link href="/css/site.css" rel="stylesheet">

    {% if headers.atom %}
        <link rel="alternate" href="{{ headers.atom.url }}" type="application/atom+xml" title="{{ headers.atom.title }}" />
    {% endif %}

    {% if headers.base %}
        <base href="{{ headers.base }}" />
    {% endif %}

    {% if headers.notice %}
        <!-- {{ headers.notice }} -->
    {% endif %}

</head>

<body>
    <nav class="navbar navbar-default navbar-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/index.html">
            <img class="logo" src="/images/logo-head.gif">
          </a>
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Menu</button>
          </p>
        </div>
      </div>
    </nav>

    <div class="container">

        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">

                <ul class="sidebar">
                    <li class="sidebar-header">Apache PDFBox</li>
                    <li><a href="/index.html">Overview</a></li>
                    <li><a href="/download.cgi">Downloads</a></li>

                    <li class="sidebar-header">Community</li>
                    <li><a href="/support.html">Support</a></li>
                    <li><a href="/mailinglists.html">Mailing Lists</a></li>
                    <li><a href="/team.html">Project Team</a></li>

                    <li class="sidebar-header">Documentation</li>
                    <li class="sidebar-node" id="v2-0">
                        <a href="#">2.0</a>
                        <ul>
                            <li><a href="/2.0/migration.html">Migration Guide</a></li>
                            <li><a href="/2.0/getting-started.html">Getting Started</a></li>
                            <li><a href="/2.0/examples.html">Examples</a></li>
                            <li><a href="/2.0/dependencies.html">Dependencies</a></li>
                            <li class="sidebar-node" id="v2-0-cookbook">
                                <a href="#">Cookbook</a>
                                <ul>
                                    <li><a href="/2.0/cookbook/encryption.html">Document Encryption</a></li>
                                </ul>
                            </li>
                            <li><a href="/2.0/commandline.html">Command Line Tools</a></li>
                            <li><a href="/docs/2.0.2/javadocs/">API Docs</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-node" id="v1-8">
                        <a href="#">1.8</a>
                        <ul>
                            <li><a href="/1.8/architecture.html">Architecture</a></li>
                            <li><a href="/1.8/dependencies.html">Dependencies</a></li>
                            <li class="sidebar-node" id="v1-8-cookbook">
                                <a href="#">Cookbook</a>
                                <ul>
                                    <li><a href="/1.8/cookbook/documentcreation.html">Document Creation</a></li>
                                    <li><a href="/1.8/cookbook/textextraction.html">Text Extraction</a></li>
                                    <li><a href="/1.8/cookbook/encryption.html">Document Encryption</a></li>
                                    <li><a href="/1.8/cookbook/workingwithfonts.html">Working with Fonts</a></li>
                                    <li><a href="/1.8/cookbook/workingwithmetadata.html">Working with Metadata</a></li>
                                    <li><a href="/1.8/cookbook/workingwithattachments.html">Working with Attachments</a></li>
                                    <li><a href="/1.8/cookbook/pdfavalidation.html">PDF/A Validation</a></li>
                                    <li><a href="/1.8/cookbook/pdfacreation.html">Creating a PDF/A document</a></li>
                                </ul>
                            </li>
                            <li><a href="/1.8/commandline.html">Command Line Tools</a></li>
                            <li><a href="/docs/1.8.12/javadocs/">API Docs</a></li>
                            <li><a href="/1.8/faq.html">FAQ</a></li>
                        </ul>
                    </li>

                    <li class="sidebar-header">Development</li>
                    <li><a href="/building.html">Building from Source</a></li>
                    <li><a href="/codingconventions.html">Coding Conventions</a></li>
                    <li><a href="/siteupdate.html">Update the Website</a></li>
                    <li><a href="https://builds.apache.org/view/All/job/PDFBox-trunk/">Jenkins</a></li>
                    <li><a href="https://travis-ci.org/apache/pdfbox">Travis CI</a></li>
                    <li><a href="https://analysis.apache.org/dashboard/index/org.apache.pdfbox:pdfbox-reactor">SonarQube</a></li>
                    <li><a href="https://issues.apache.org/jira/browse/PDFBOX">JIRA</a></li>
                    <li><a href="/ideas.html">Ideas</a></li>
                    <li><a href="/references.html">External Links</a></li>

                    <li class="sidebar-header">Apache Software Foundation</li>
                    <li><a href="http://www.apache.org/">Apache Software Foundation</a></li>
                    <li><a href="http://www.apache.org/foundation/thanks.html">ASF Sponsors</a></li>
                    <li><a href="http://www.apache.org/security/">Security</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-9">
                {{ content }}
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <!-- nothing in here on purpose -->
                </div>
                <div class="span9">
                    <p>Copyright © 2009&ndash;2016 <a href="http://www.apache.org/">The Apache Software Foundation</a>, Licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.
                        <br/>Apache PDFBox, PDFBox, Apache, the Apache feather logo and the Apache PDFBox project logos are trademarks of The Apache Software Foundation.</p>
                </div>
            </div>
        </div>
    </footer>

        <!-- Twitter Bootstrap and jQuery after this line. -->
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
                $('[data-toggle="offcanvas"]').click(function () {
                $('.row-offcanvas').toggleClass('active')
            });
        });

        $(function() {
            // collapse tree nodes dynamically to support noscript
            $('.sidebar-node').addClass('collapsed');


            // toggle expand/collapse
            $('.sidebar-node > a').click(function(e) {
                $(this).parent().toggleClass('collapsed');
                e.preventDefault();
            });

            // preserve expand/collapse across page navigation
            var path = document.location.pathname;
            if (path.indexOf('/1.8') == 0) {
                $('#v1-8').removeClass('collapsed');
                if (path.indexOf('/1.8/cookbook') == 0) {
                    $('#v1-8-cookbook').removeClass('collapsed');
                }
            } else {
                $('#v2-0').removeClass('collapsed');
                if (path.indexOf('/2.0/cookbook') == 0) {
                    $('#v2-0-cookbook').removeClass('collapsed');
                }
            }

        });
    </script>

</body>

</html>
