/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

/*
 * Variables
 */

$primary-text-color: #161616; 
$secondary-text-color: #393939;

/*
 *  The follwing rules are in addition to the base bootstrap css
 *  Some of the CSS is copied over from bootstrap as markdown, the primary
 *  format used to add content, doesn't allow to classes to the elements
 */

 /* 01 Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: $primary-text-color;
}

body > .container {
  padding-top: 5rem;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 1em;
  background-color: #34a5da;
  border: none;
  border-radius: 0;
}

.main-header nav {
   align-self: center;
   margin: 0 0.8em 0 0;
}

.main-header ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;
}

.main-header li > a  {
  color: white;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
}

#menu-toggle {display: none;}
.label-toggle {display: none;}



.navbar-default {
  background-color: #34a5da;
  border: none;
  border-radius: 0;
}

svg.pdfbox-brand-text, svg.pdfbox-brand-toolbox {
    fill: white;
}

.pdfbox-brand-toolbox {
  height: 44px;
  width: 48px;
  vertical-align: middle;
  margin-top: 2px;
  margin-right: 0.4em
}

.pdfbox-brand-text {
  width: 80px;
  height:46px;
  vertical-align: middle;
  margin-top: 2px;
  margin-right: 0.4em
}

/* Styling for the copyright footer */
.footer {
    height: 150px;
    margin-top: 70px;
    padding: 30px 0;
    color: #e8e8e8;
    border-top: 1px solid #e5e5e5;
    background-color: rgb(38,21,15);
}

/*
 * Typography overwrites to bootstrap
 */

/* headings */
h1, h2, h3, h4, h5 {
  color: $primary-text-color;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: $secondary-text-color;
}

h1 {
  margin-top: 0;
}

h3 {
  margin-bottom: 16px;
}

/* features list */
h4 .oi {
    position: relative;
    top: 5px;
    font-size: 24px;
    margin-right: 8px;
    color: #0088cc;
}

h4 .open-iconic {
    position: relative;
    top: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: text-top;
    fill: #0088cc;
}

code, kbd, pre, samp {
    font-family: 'Inconsolata',monospace;
    font-size: 16px;
    line-height: 1.2
}

pre.highlight, .highlight > pre {
  background-color: inherit;
    color: darkslategrey;
    border: 0;
    border-radius: 0;
    border-left: 2px solid #5a5c5d;
    padding-left: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

code {
  padding: 0;
  background-color: inherit;
  color: rgba(0,0,0);
}

.alert {
  border-radius: 0;
}
.alert-warning {
  border-color: transparent;
  border-left: 2px solid #8a6d3b;
}

.alert-info {
  border-color: transparent;
  border-left: 2px solid #31708f;
}

/*
 * Default styling for the tables copied over from bootstrap
 * to get basic styling for tables created through markdown
 */


table th, table td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

table tr:nth-child(even) td, table tr.even td {
    background: #f9f9f9;
}

/*
 * Completed items on the "ideas" list.
 */

.complete {
  text-decoration: line-through;
  color: #bbb;
 }

/*
 * Custom sidebar, replaces Bootstrap .nav with nested tree.
 */

.sidebar ul {
    padding-left: 20px;
}

.sidebar, .sidebar > ul {
    padding-left: 0;
}

.sidebar li {
    list-style: none;
}

.sidebar li a {
    display: block;
    padding: .20em 15px;
}

.sidebar li a:hover, .sidebar li a:focus {
    text-decoration: none;
    background-color: #eee;
}

.sidebar-header {
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-transform: uppercase;
}

.sidebar li + .sidebar-header {
    margin-top: 8px;
}

.sidebar .sidebar-node > a::before {
  content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#0088cc' d='M1.5 0l-1.5 1.5 4 4 4-4-1.5-1.5-2.5 2.5-2.5-2.5z' transform='translate(0 1)' /%3E%3C/svg%3E");
  display:inline-block;
  width:12px;
  height:12px;
  padding-right: 3px;
}

.sidebar li.sidebar-node > a {
    padding-left: 5px;
}

.sidebar-node.collapsed > ul{
  display: none;
}

.sidebar-node.collapsed > a::before {
  content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#0088cc' d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z' transform='translate(1)' /%3E%3C/svg%3E");
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
    margin-left: 0.5em;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
