@import url(/css/site.css);
.documentation {
  display: flex; }

.documentation section h1, .documentation section h2,
.documentation section h3, .documentation section h4,
.documentation section ul,
.documentation section p {
  padding-left: 3rem;
  padding-right: 1rem; }

.documentation section table {
  margin-left: 3rem;
  margin-right: 1rem; }

.documentation section ul {
  padding-left: 5rem; }

.documentation nav {
  min-width: 25rem;
  box-shadow: 1px 0 0 rgba(81, 88, 90, 0.17); }

.documentation nav h1 {
  font-size: 1.2rem;
  text-transform: uppercase; }

.documentation nav ul {
  list-style: none; }

.documentation nav > ul {
  list-style: none;
  padding: 0; }

.documentation nav li a {
  padding: 0.2em 15px; }

.documentation nav li a:hover, .documentation nav li a:focus {
  background-color: #eee;
  text-decoration: none; }

.documentation aside {
  min-width: 22rem;
  max-width: 22rem;
  padding-left: 2rem; }

.documentation aside h1 {
  font-size: 1.2rem;
  text-transform: uppercase; }

.documentation aside ul {
  list-style: none;
  padding: 0 1rem; }

.documentation aside > ul {
  list-style: none;
  padding: 0; }

.documentation aside a {
  font-size: 13px;
  text-decoration: none;
  border-radius: 2px;
  padding: 4px 5px 4px 23px;
  display: block; }

.documentation div.highlight {
  background: #f8f8f8;
  margin: 2rem 0; }

.documentation code {
  color: black; }

.accordion-menu ul li i:before, .accordion-menu ul li i:after {
  transition: all 0.25s ease-in-out; }

.accordion-menu ul ul li {
  animation: flipdown 0.5s ease both; }

.accordion-menu label {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 0.2em 15px;
  text-transform: uppercase; }

.accordion-menu ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0; }

.accordion-menu ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px; }

.accordion-menu ul li:last-of-type {
  padding-bottom: 0; }

.accordion-menu ul li.has-children {
  margin-right: 1em; }

.accordion-menu ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0; }

.accordion-menu ul li i:before, .accordion-menu ul li i:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px; }

.accordion-menu ul li i:before {
  transform: translate(-2px, 0) rotate(45deg); }

.accordion-menu ul li i:after {
  transform: translate(2px, 0) rotate(-45deg); }

.accordion-menu ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0; }

.accordion-menu ul li input[type=checkbox]:checked ~ ul {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%); }

.accordion-menu ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg); }

.accordion-menu ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg); }